/* roboto-latin-400-normal */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/roboto@latest/latin-400-normal.woff2)
      format('woff2'),
    url(https://cdn.jsdelivr.net/fontsource/fonts/roboto@latest/latin-400-normal.woff)
      format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* roboto-latin-700-normal */
@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/roboto@latest/latin-700-normal.woff2)
      format('woff2'),
    url(https://cdn.jsdelivr.net/fontsource/fonts/roboto@latest/latin-700-normal.woff)
      format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 100vh 10vh;
}

.container {
  width: 100%;
  color: hsl(234, 29%, 20%);
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  cursor: default;
}
.container h1 {
  font-family: 'Roboto Bold';
}

.illustrationMobile {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.formContainer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formContainer ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}
.formContainer ul li {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem 0;
}
.formContainer form label {
  font-size: small;
  font-family: 'Roboto Bold';
}
.formContainer form input {
  height: 3rem;
  padding: 0 1rem;
  border: 1px solid hsl(231, 7%, 60%);
  border-radius: 0.3rem;
  outline: none;
}
.formContainer form button {
  margin: 1rem 0;
  height: 3rem;
  border: none;
  border-radius: 0.3rem;
  font-family: 'Roboto Bold';
  background-color: hsl(234, 29%, 20%);
  color: white;
  cursor: pointer;
}

.illustrationDesktop {
  display: none;
}
.success {
  display: none;
}

.attribution {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
